*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

nav{
    padding: 35px 5%;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

nav .logo{
    font-size: 30px;
    font-weight: 700;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 8px 20px;
    border-radius: 10px;
    transition: 0.2s ease-in;
    position: relative;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-variant: small-caps;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #720000;
    left: 0;
    bottom: -7.5px;
    transition: 0.5s;
    position: absolute;
}

nav ul li:hover::after{
    content: '';
    height: 3px;
    width: 100%;
    background: #720000;
    left: 0;
    bottom: -7.5px;
    position: absolute;
}

nav .menubtn{
    color: #000;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    margin-top: -17.5px;
    margin-right: -5px;
    display: none;
}

nav .menubtn:hover{
    color: #720000
}

@media screen and (max-width: 600px) {
    nav .navLinks{display: none;}

    nav .menubtn{
        display: flex;
    }

    #me {
        padding-top: 0px;
    }
  }

@media screen and (min-width: 600px) {
    .sideNav{display: none !important;}
}


.sideNav{
    height: 115%;
    width: 100%;
    position: fixed;
    top: -40px;
    right: 0;
    overflow-x: hidden;
    transition: 0.3 ease-in;
    padding-top: 60px;
    background-color:rgb(211, 211, 211);
    opacity: 1;
    z-index: 1;
    display: none;
    text-align: center;
}

.sideNav ul li{
    display: block;
    margin: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
    position: relative;
}

.sideNav ul li a{
    margin: 5px 10px 25px 5px;
    display: block;
    color: black;
    transition: 0.3s;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-variant: small-caps;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.sideNav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #720000;
    left: 0;
    bottom: -7.5px;
    transition: 0.5s;
    position: absolute;
}

.sideNav ul li:hover::after{
    content: '';
    height: 3px;
    width: 100%;
    background: #720000;
    left: 0;
    bottom: -7.5px;
    position: absolute;
}

.sideNav .closebtn:hover{
    color:#720000;
}

.sideNav .closebtn{
    color: black;
    font-size: 20px;
    margin-left: 87.5%;
    text-decoration: none;
}

.content{
    padding-left: 2%;
    padding-top: 6%;
    padding-bottom: 6%;
}

#a-content{
    width: 100%;
    padding-left: 17.5%;
    text-align: left;
    color: #000;
    font-size: 14px;
}

#a-content h1{
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 600;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

#a-content p{
    margin-bottom: 25px;
    font-weight: 400;
    line-height: 20px;
    max-inline-size: 80%;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

#me{
    float: left;
    margin-top: 0.4%;
    padding-right: 4%;
    width: 242.5px;
    height: auto;
}

@media only screen and (max-width: 1000px) {
    #me {
        float: none;
        padding-bottom: 4%;
    }
}

#a-text{
    float:left;
}

#b-content{
    width: 100%;
    padding-left: 12.5%;
    text-align: left;
    color: #000;
    font-size: 14px;
}

#b-content h1{
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 600;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

#b-content p{
    margin-bottom: 25px;
    font-weight: 400;
    line-height: 20px;
    max-inline-size: 80%;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

#c-content{
    width: 100%;
    padding-left: 12.5%;
    text-align: left;
    color: #000;
    font-size: 14px;
}

#c-content h1{
    font-size: 70px auto;
    margin-bottom: 20px;
    font-weight: normal;
}

#c-content p{
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 100;
    line-height: 25px;
    max-inline-size: 65%;
}

#c-content ol{
    margin-left: 25px;
    margin-bottom: 15px;
    font-weight: 100;
    line-height: 25px;
    max-inline-size: 75%;
}

#c-content ul{
    margin-left: 35px;
    margin-bottom: 15px;
    font-weight: 100;
    line-height: 25px;
    max-inline-size: 75%;
    list-style-type: disc;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 5px 0;
    border-radius: 25px;
    border: 2px solid #720000;
    background: transparent;
    color: #000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 14x;
    font-weight: 600;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

span{
    background: #720000;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

button:hover span{
    width: 100%;
    opacity: 0.3;
}

button:hover{
    border: none;
    height: 49px;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    color:#000
  }
  
.fa:hover {
    opacity: 0.5;
}
