*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

nav{
    padding: 35px 5%;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

nav .logo{
    font-size: 30px;
    font-weight: 700;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 8px 20px;
    border-radius: 10px;
    transition: 0.2s ease-in;
    position: relative;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    /*font-variant: small-caps;*/
    font-family: "garamond-premier-pro", "Baskerville Old Face", "Times New Roman", serif;
}

nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #685545;
    left: 0;
    bottom: -7.5px;
    transition: 0.5s;
    position: absolute;
}

nav ul li:hover::after{
    content: '';
    height: 3px;
    width: 100%;
    background: #685545;
    left: 0;
    bottom: -7.5px;
    position: absolute;
}

nav .menubtn{
    color: #000;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    margin-top: -17.5px;
    margin-right: -5px;
    display: none;
}

nav .menubtn:hover{
    color: #685545
}

@media screen and (max-width: 600px) {
    nav .navLinks{display: none;}

    nav .menubtn{
        display: flex;
    }

    #me {
        padding-top: 0px;
    }
    
  }

@media screen and (min-width: 600px) {
    .sideNav{display: none !important;}
}

.sideNav{
    height: 115%;
    width: 100%;
    position: fixed;
    top: -40px;
    right: 0;
    overflow-x: hidden;
    transition: 0.3 ease-in;
    padding-top: 60px;
    background-color:rgb(211, 211, 211);
    opacity: 1;
    z-index: 1;
    display: none;
    text-align: center;
}

.sideNav ul li{
    display: block;
    margin: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
    position: relative;
}

.sideNav ul li a{
    margin: 5px 10px 25px 5px;
    display: block;
    color: black;
    transition: 0.3s;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    /*font-variant: small-caps;*/
    font-family: "garamond-premier-pro", "Baskerville Old Face", "Times New Roman", serif;
}

.sideNav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #685545;
    left: 0;
    bottom: -7.5px;
    transition: 0.5s;
    position: absolute;
}

.sideNav ul li:hover::after{
    content: '';
    height: 3px;
    width: 100%;
    background: #685545;
    left: 0;
    bottom: -7.5px;
    position: absolute;
}

.sideNav .closebtn:hover{
    color:#685545;
}

.sideNav .closebtn{
    color: black;
    font-size: 20px;
    margin-left: 87.5%;
    text-decoration: none;
}

.vsco-logo {
    width: 13px;
    height: 13px;
    transform: translate(13.5px, 1px); 
    transition: transform 0.3s ease;
}

.vsco-logo:hover {
    transform: translate(13.5px, 1px);
    opacity: 0.5; 
}

.banner.banner-center {
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
    min-height: 80vh;        /* enough height to see centering */
    padding: 2% 0;           /* optional */
    box-sizing: border-box;
}

#a-content {
    display: flex;           
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;     
    max-width: 1000px;         
    margin: 0 auto;            
    padding: 5% 2%;
    color: #000;
}

#me {
    height: 330px;      
    width: auto;       
    flex-shrink: 0;     
}

.a-text {
    max-width: 1000px;
    margin-top: -0.3rem;   
}

#a-content h1 {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.3px; 
    font-family: "garamond-premier-pro", "Baskerville Old Face", "Times New Roman", serif;
}

#a-content p {
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-size: 15px;
    font-family: "garamond-premier-pro", "Baskerville Old Face", "Times New Roman", serif;
}

/* Responsive: stack vertically on smaller screens */
@media screen and (max-width: 900px) {
    #a-content {
        flex-direction: column; 
        align-items: center;    
    }
    
    #me {
        height: auto;
        width: 60%;  
        margin-bottom: 1.5rem;
    }
    
    .a-text {
        max-width: 95%;
    }
}


#b-content{
    width: 100%;
    padding-left: 12.5%;
    padding-top: 6.5%;
    padding-bottom: 6%;
    text-align: left;
    color: #000;
}

#b-content h1{
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -0.3px; 
    font-family: "garamond-premier-pro", "Baskerville Old Face", "Times New Roman", serif;
}

#b-content h2{
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.0px; 
    text-decoration: underline;
    font-family: "garamond-premier-pro", "Baskerville Old Face", "Times New Roman", serif;
}

#b-content p{
    margin-bottom: 25px;
    line-height: 20px;
    max-inline-size: 80%;
    font-weight: 400;
    font-size: 15px;
    font-family: "garamond-premier-pro", "Baskerville Old Face", "Times New Roman", serif;
}

#b-content p em{
    font: inherit;
    font-style: italic;
}


#c-content{
    width: 100%;
    padding-left: 12.5%;
    text-align: left;
    color: #000;
    font-size: 14px;
}

#c-content h1{
    font-size: 70px auto;
    margin-bottom: 20px;
    font-weight: normal;
}

#c-content p{
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 100;
    line-height: 25px;
    max-inline-size: 65%;
}

#c-content ol{
    margin-left: 25px;
    margin-bottom: 15px;
    font-weight: 100;
    line-height: 25px;
    max-inline-size: 75%;
}

#c-content ul{
    margin-left: 35px;
    margin-bottom: 15px;
    font-weight: 100;
    line-height: 25px;
    max-inline-size: 75%;
    list-style-type: disc;
}

button{
    width: 160px;
    padding: 12px 0;
    text-align: center;
    top: -16px;
    border-radius: 25px;
    /*border: 2px solid #720000;*/
    border: 2px solid #685545;
    background: transparent;
    color: #000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: 700;
    font-family: "garamond-premier-pro", "Baskerville Old Face", "Times New Roman", serif;
}

span{
    background: #685545;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

button:hover span{
    width: 100%;
    opacity: 0.3;
}

button:hover{
    border: none;
    height: 49px;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    color:#000
  }
  
.fa:hover {
    opacity: 0.5;
}
