*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar{
    padding: 3.75% 7.5%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    float: right;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #720000;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    content: '';
    height: 3px;
    width: 100%;
    background: #720000;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.navbar .icon{
    position: absolute;
    right: 10%;
    top: 2%;
    font-size: 15px;
    line-height: 80px;
    cursor: pointer; 
    display: none;
}


@media screen and (max-width: 600px) {
    .navbar ul li{display: none;}
    .navbar a.icon {
      display: block;
      position: absolute;
      width: 40px;
      left: 5%;
      top: 0;
    }

    #me {
        padding-top: 30px;
    }
  }
  
@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }
        
    .navbar.responsive a.icon{
        position: absolute;
        width: 40px;
        left: -533.5%;
        top: 0;   
    }

    .navbar.responsive ul{
        position: absolute;
        margin-left: 0px;
        left: -540%; 
        top: 45px;
        padding-top: 35px;
        background-color: #fff;
        z-index: 1;
    }

    .navbar.responsive ul li{
        display: block;
        margin-bottom: 1.25em;
    }

}

.content{
    padding-top: 8.5%;
}

#a-content{
    width: 100%;
    padding-left: 15%;
    text-align: left;
    color: #000;
    font-size: 14px;
}

#a-content h1{
    font-size: 70px auto;
    margin-bottom: 25px;
}

#a-content p{
    margin-bottom: 25px;
    font-weight: 100;
    line-height: 25px;
    max-inline-size: 70%;
}

#me{
    float: left;
    margin-top: 0.2%;
    padding-right: 5%;
}

@media only screen and (max-width: 975px) {
    #me {
        float: none;
        padding-bottom: 4%;
    }

    .navbar{
        padding-top: 2.5em;
    }
}

#a-text{
    float:left;
}

#b-content{
    width: 100%;
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translateY(-50%);
    text-align: left;
    color: #000;
    font-size: 14px;
}

#c-content{
    position: absolute;
    top: 150px;
    width: 100%;
    left: 15%;
    font-size: 14px;
}

#c-content h1{
    font-size: 70px auto;
    margin-bottom: 20px;
}

#c-content p{
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 100;
    line-height: 25px;
    max-inline-size: 65%;
}

#c-content ol{
    margin-left: 25px;
    margin-bottom: 15px;
    font-weight: 100;
    line-height: 25px;
    max-inline-size: 75%;
}

#c-content ul{
    margin-left: 35px;
    margin-bottom: 15px;
    font-weight: 100;
    line-height: 25px;
    max-inline-size: 75%;
    list-style-type: disc;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 10px 0;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #720000;
    background: transparent;
    color: #000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #720000;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

button:hover span{
    width: 100%;
    opacity: 0.3;
}

button:hover{
    border: none;
    height: 49px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    color:#000
  }
  
.fa:hover {
    opacity: 0.5;
}
